@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  color: #eee;
}

.text-shadow {
  text-shadow: 2px 2px #6a26cd;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
