$gradient_border_color: linear-gradient(
  150deg,
  #d16ba5,
  #c777b9,
  #ba83ca,
  #aa8fd8,
  #9a9ae1,
  #8aa7ec,
  #79b3f4,
  #69bff8,
  #52cffe,
  #41dfff,
  #46eefa,
  #5ffbf1
);

.groups {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.groups__card {
  color: #333;
  background: #fafafa;
  width: 500px;
  height: 200px;
  max-height: 200px;
  min-height: 200px;
  box-shadow: 4px 10px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    width: 10px;
    background: $gradient_border_color;
  }
}

.card__typography {
  & span {
    color: rgba(#000000, 0.5);
    display: block;
  }
}

.card__title {
  max-width: 12rem;
  min-width: 12rem;
}

.logo__container {
  border: 5px solid gold;
  // change this to gradient
  border-radius: 50%;
  overflow: hidden;
  & img {
    width: 100px;
    height: 100px;
  }
}
