.navbar {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  & ul a:not(last-child) {
    margin-right: 2rem;
  }
  a,
  a:hover {
    text-decoration: none;
  }

  & .buttons > *:not(:last-child) {
    margin-right: 1rem;
  }
}
