@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', 'Roboto', sans-serif;
  background-color: #1f1d1f;
  color: #eee;
}

.text-shadow {
  text-shadow: 2px 2px #6a26cd;
}
