.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 3rem auto;
  background: no-repeat 50% center / contain url('./blob.svg');

  & h1 {
    & span {
      color: rgb(111, 72, 240);
      font-size: larger;
      font-weight: bold;
    }
  }
}

.vector-container {
  flex: 1;
}

.TBD {
  flex: 1;

  & > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.btn-container {
  & button {
    padding: 1rem 2rem;
    border-radius: 8px;
    transition: 0.2s ease-in;
    font-weight: 500;
    border: none;

    &:hover {
      background: rgb(111, 72, 240);
    }
  }
}
