.container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullHeight {
  height: 100%;
}

.left {
  min-width: 50vw;
  min-height: 100vh;
  height: 100vh;
  background-color: rgb(114, 114, 114);
  color: #fff;

  & a {
    color: white;
  }
}

.right {
  min-width: 50vw;
  min-height: 100vh;
  height: 100vh;
  padding: 3rem;
}

.form {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  & > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  .input {
    height: 30px;
    min-width: 200px;
    background-color: #f2f2f2;
    text-indent: 3%;
    border: 1px solid rgba(230, 230, 230, 0.548);
    border-radius: 2px;
    outline: none;
    transition: all 0.2s;
    font-family: inherit;

    &::placeholder {
      color: rgba(58, 58, 58, 0.842);
    }

    &:focus {
      border: 1px solid darken(rgba(230, 230, 230, 0.548), 20%);
      text-indent: 6%;

      &::placeholder {
        color: rgba(92, 92, 92, 0.65);
      }
    }
  }

  .btn {
    outline: none;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    height: 30px;
    min-width: 70px;
    width: 100px;
    user-select: none;
    font-family: inherit;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;

    &:hover,
    &:focus {
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
      transform: translateY(-2px);
    }
  }
}

.formContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 2px;
}

.switchPage {
  font-size: 10px;
  opacity: 0.6;
}

.toHome {
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: rgb(14, 14, 16);
  padding: 0.4rem;
  border-radius: 2px;
  text-align: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;

  &:hover,
  &:focus {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
  }
}

.cc {
  background: #000;
  width: 100vw;
  height: 100vh;
  transition: 1.2s all;

  &:hover {
    transform: translate(50%, 0);
  }
}
